body {
  background-image: url('background.jpg');
  background-size: cover;
  font-family: 'Rubik', sans-serif;
  color: white;
}

.container-background{
  width: 65%;
  margin: auto;
  background-color: rgba(0,0,0,0.5);
  border-radius: 20px;
}

.container{
  width: 90%;
  margin: auto;
  padding: 5%;
}

header{
  text-align: center;
  font-size: 15px;
}

.logo{
  width: 25%;
}

#catchphrase{
  color: lime;
}

nav{
  background-color: lime;
  text-align: center;
  padding: 1%;
}

.scooter{
  padding-top: 2%;
  padding-bottom: 1%;
}

.scooter-name{
  font-weight: 700;
  font-size: 20px;
}

.bar{
  height: 30px;
  border-radius: 5px;
  margin-top: 0.5%;
}

.low{
  width: 200px;
  background-color: red;
}

.medium{
  width: 400px;
  background-color: orange;
}

.full{
  width: 700px;
  background-color: green;
}
